
html,body,div{
	margin: 100;
	padding: 200;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
	body {
    background-color: lightblue;
}

h1 {
    color: red;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}